{% extends "profile_page_base.html" %}
{% load static %}

{% block title %}سفارشات من{% endblock %}

{% block section_title %}سفارشات من{% endblock %}
{% block this_section_title %}سفارشات من{% endblock %}

{% block sidebar-class-orders-list %}"list-group-item list-group-item-action dropright-toggle active"{% endblock %}
{% block main_content %}
    			<!-- =========================== My All Orders =================================== -->
    						<div class="col-lg-8 col-md-9">

							<!-- Order Items -->
							<div class="card style-2">
								<div class="card-header">
									<h4 class="mb-0">سفارشات من</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">شماره سفارش</th>
													<th scope="col">تاریخ ارسال</th>
													<th scope="col">قیمت</th>
													<th scope="col">وضعیت</th>
													<th scope="col">پیگیری</th>
												</tr>
											</thead>
											<tbody>
                                                {% for order in orders %}
												<tr>
													<th scope="row"></th>
													<td><a href="profile/order-detail/{{ order.pk }}/"></a>{{ order.pk }}</td>
													<td>{{ order.create_date }}</td>
													<td>{{ order.cart.get_total_price }}</td>
													<td>{{ order.status }}</td>
													<td><a href="profile/order_tracking/{{order.pk }}" class="btn btn-sm btn-theme">پیگیری سفارش</a></td>
												</tr>
                                                {% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
    			<!-- =========================== My All Orders =================================== -->
{% endblock %}
