{% extends "profile_page_base.html" %}
{% load static %}
{% block title %}وضعیت سفارش{% endblock %}
{% block route %}
    <li class="breadcrumb-item"><a href="{% url 'Profile' %}">پروفایل کاربری</a></li>
    <li class="breadcrumb-item"><a href="{% url 'User orders list' %}">سفارشات من</a></li>
{% endblock %}

{% block main_content %}
    					<!-- =========================== Add To Cart =================================== -->
						<div class="col-lg-8 col-md-9">
							<div class="checked-shop">

								<div class="row">
									<div class="col-lg-7 col-md-4 col-sm-12">
										<div class="ship_status_box" id="order-shipping-method"><span class="text-bold ml-2">ارسال از طریق:</span></div>
									</div>
									<div class="col-lg-5 col-md-4 col-sm-12">
										<div class="ship_status_box" id="order-deliver-date"><span class="text-bold ml-2">تاریخ حدودی تحویل:</span></div>
									</div>
								</div>

								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<ul class="track_order_list mt-4">

											<!-- Single List -->
											<li class="complete">
												<div class="trach_single_list">
													<div class="trach_icon_list"><i class="ti-write"></i></div>
													<div class="track_list_caption">
														<h4 class="mb-0">سفارش ثبت شد</h4>
														<p>ما سفارش شما را دریافت کرده ایم</p>
													</div>
												</div>
											</li>

											<!-- Single List -->
											<li id="proccessing">
												<div class="trach_single_list">
													<div class="trach_icon_list"><i class="ti-thumb-up"></i></div>
													<div class="track_list_caption">
														<h4 class="mb-0">سفارش پردازش شد</h4>
														<p>ما در حال آماده سازی سفارش شما هستیم.</p>
													</div>
												</div>
											</li>

											<!-- Single List -->
											<li id="ready-to-send">
												<div class="trach_single_list">
													<div class="trach_icon_list"><i class="ti-gift"></i></div>
													<div class="track_list_caption">
														<h4 class="mb-0">ارسال شد</h4>
														<p>سفارش شما ارسال شد.</p>
													</div>
												</div>
											</li>

										</ul>
									</div>
								</div>

							</div>
                        </div>
			<!-- =========================== Add To Cart =================================== -->
{% endblock %}
{% block scr %}
                <!-- ============================= Fetch API ==================================== -->
    <script>
    $(document).ready(function () {
        async function authenticate(event) {
            event.preventDefault()
            const response = await fetch("/api/v1/user/token/", {
                method: "GET",
            })
            if (response.status === 200) {
                $.getJSON('/api/v1/user/user-order-detail/{{ pk }}/', function (data)
                {
                    $("#order-deliver-date").html(`<span dir="rtl" class="text-bold ml-2">تاریخ حدودی تحویل:</span>${data.cart.deliver_time}`);
                    $("#order-shipping-method").html(`<span class="text-bold ml-2">ارسال از طریق:</span>${data.cart.shipping_method}`);
                    $("#page_title").text(`رهگیری سفارش شماره ${data.pk}`);
                    if (`${data.status}` === "در حال پردازش") {
                        $("#proccessing").addClass("processing");
                    } else if (`${data.status}` === "آماده ارسال") {
                        $("#proccessing").addClass("complete");
                        $("#ready-to-send").addClass("complete");
                    }
                });
                $("#current_page").text("رهگیری سفارش");
                $("#order_list").attr("class", "list-group-item list-group-item-action dropright-toggle active");
            } else {
                $("#page").html(`<div class="container"><div class="row"><div class="col-lg-12 col-md-12 text-center"><h2 class="error_title">4<span class="text-primary">0</span>1<i class="ti-help"></i></h2><p><span class="text-primary"></span> متأسفیم ، مشکلی در دسترسی شما به صفحه مورد نظر بوجود آمد</p><a href="/" class="btn btn-primary">بازگشت به صفحه اصلی</a></div></div></div>`);
            }
}
        authenticate(event)
    })
    </script>
    <!-- ============================= Fetch API ==================================== -->
{% endblock %}