{% extends "profile_page_base.html" %}
{% load static %}

{% block title %}پروفایل{% endblock %}

{% block section_title %}اطلاعات کاربر{% endblock %}
{% block this_section_title %}اطلاعات کاربر{% endblock %}

{% block sidebar-class-user-information %}"list-group-item list-group-item-action dropright-toggle active"{% endblock %}
{% block sidebar %}
    			<!-- =========================== Account Settings =================================== -->

						<div class="col-lg-8 col-md-9">
							<!-- Total Items -->
							<div class="card style-2">
								<div class="card-header">
									<h4 class="mb-0">اطلاعات کاربر</h4>
								</div>
								<div class="card-body">
									<form class="submit-page">
										<div class="row">

											<div class="col-12 col-md-6">
											  <!-- Email -->
											  <div class="form-group">
												<label>نام *</label>
												<input class="form-control" type="text" placeholder="نام *" value="بهمن" required="">
											  </div>

											</div>

											<div class="col-12 col-md-6">
											  <!-- Last Name -->
											  <div class="form-group">
												<label>نام خانوادگی *</label>
												<input class="form-control" type="text" placeholder="نام خانوادگی *" value="سیدی" required="">
											  </div>

											</div>

											<div class="col-12">
												<!-- Email -->
												<div class="form-group">
													<label> آدرس ایمیل *</label>
													<input class="form-control" type="email" placeholder="آدرس ایمیل *" value="demo@gmail.com" required="">
												</div>
											</div>

											<div class="col-12 col-md-6">
												<!-- Password -->
												<div class="form-group">
													<label>رمز عبور فعلی *</label>
													<input class="form-control" type="password" placeholder="رمز عبور فعلی *" required="">
												</div>
											</div>

											<div class="col-12 col-md-6">
												<!-- Password -->
												<div class="form-group">
													<label>رمز عبور جدید *</label>
													<input class="form-control" type="password" placeholder="رمز عبور جدید *" required="">
												</div>
											</div>

											<div class="col-12 col-lg-6">
												<!-- Birthday -->
												<div class="form-group">

													<label>تاریخ تولد</label>
													<div class="row">
														<div class="col-auto">
															<!-- Date -->
															<label class="sr-only">روز</label>
															<select class="form-control">
															  <option>10</option>
															  <option>11</option>
															  <option selected="">12</option>
															</select>
														</div>

														<div class="col">
															<!-- Date -->
															<label class="sr-only">ماه</label>
															<select class="form-control">
															  <option>فروردین</option>
															  <option>اردیبهشت</option>
															  <option selected="">خرداد</option>
															</select>
														</div>

														<div class="col-auto">
															<!-- Date -->
															<label class="sr-only">سال</label>
															<select class="form-control">
															  <option>1370</option>
															  <option selected="">1369</option>
															  <option>1368</option>
															</select>
														</div>

													</div>
												</div>

											</div>

											<div class="col-12 col-lg-6">
												<!-- Gender -->
												<div class="form-group mb-8">
													<label>جنسیت</label>
													<div class="btn-group-toggle mt-2 d-flex bd-highlight">
														<div class="ml-2">
															<input id="male" class="radio-custom" name="gen" type="radio">
															<label for="male" class="radio-custom-label">مرد</label>
														</div>
														<div class="mr-1">
															<input id="female" class="radio-custom" name="gen" type="radio">
															<label for="female" class="radio-custom-label">زن</label>
														</div>
													</div>
												</div>
											</div>

											<div class="col-12">
											  <button class="btn btn-dark" type="submit">ذخیره تغییرات</button>
											</div>

										</div>
									</form>
								</div>
							</div>
						</div>
                <!-- =========================== Account Settings =================================== -->
<script>
$.getJSON('/api/profile/', function(data) {
// Set form fields using received data
$('input[name=email]').val(data.email);
$('input[name=phone_number]').val(data.phone_number);
$('input[name=full_name]').val(data.full_name);
});
</script>
{% endblock %}
