Ad{% extends "landing_page_base.html" %}
{% load static %}
{% block title %}درباره ما{% endblock %}

{%  block content %}
    <!-- =========================== Breadcrumbs =================================== -->
			<div class="breadcrumbs_wrap dark">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="text-center">
								<h2 class="breadcrumbs_title">درباره ما</h2>
								<nav aria-label="breadcrumb">
								  <ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'Home-page' %}"><i class="ti-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">درباره ما</li>
								  </ol>
								</nav>
							</div>
						</div>

					</div>
				</div>
			</div>
    <!-- =========================== Breadcrumbs =================================== -->
    			<!-- =========================== About Us =================================== -->
			<section>
				<div class="container">
					<div class="row">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<h2>ما 100٪ قابل اعتماد هستیم و تحویل سریع <span class="theme-cl">را ارائه می دهیم</span></h2>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده،</p>
							<p>تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							<a href="{% url 'Contact us' %}" class="btn btn-theme mt-2">ارتباط با ما</a>
						</div>
					</div>
				</div>
			</section>
			<!-- =========================== About Us =================================== -->

			<!-- =========================== About Us =================================== -->
			<section>
				<div class="container">

					<div class="row">
						<div class="col-lg-6 col-md-10 col-sm-12">
							<div class="sec-heading-flex">
								<div class="sec-heading">
									<h2>با تیم ما <span class="theme-cl">آشنا شوید</span></h2>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="team_styles owl-carousel owl-theme products-slider " id="team-carousel">

								<!-- single testimonial -->
								<div class="single_testi_box">
									<div class="row align-items-center">
										<div class="col-lg-5 col-md-5">
											<div class="single_teams_thumb">
												<img src={% static "assets/img/naveen-o.png" %} class="img-fluid" alt="" />
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="single_teams_wraps">
												<div class="single_team_caption">
													<p class="teams_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
													<div class="review_author_box">
														<div class="reviews_caption">
															<h4 class="testi2_title">آقای رضا مظاهری</h4>
															<span>مدیر پروژه</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- single testimonial -->
								<div class="single_testi_box">
									<div class="row align-items-center">
										<div class="col-lg-5 col-md-5">
											<div class="single_teams_thumb">
												<img src={% static "assets/img/rani-o.png" %} class="img-fluid" alt="" />
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="single_teams_wraps">
												<div class="single_team_caption">
													<p class="teams_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
													<div class="review_author_box">
														<div class="reviews_caption">
															<h4 class="testi2_title">خانم مریم رستمی</h4>
															<span>مجری بازرگانی</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- single testimonial -->
								<div class="single_testi_box">
									<div class="row align-items-center">
										<div class="col-lg-5 col-md-5">
											<div class="single_teams_thumb">
												<img src={% static "assets/img/preet-o.png" %} class="img-fluid" alt="" />
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="single_teams_wraps">
												<div class="single_team_caption">
													<p class="teams_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
													<div class="review_author_box">
														<div class="reviews_caption">
															<h4 class="testi2_title">آقای سعید شمس</h4>
															<span>مدیر عامل</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- =========================== About Us =================================== -->

			<!-- =========================== About Us =================================== -->
			<section class="gray">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-10 col-md-10 col-sm-12">
							<div class="sec-heading">
								<div class="sec-heading center">
									<h2>مشتریان <span class="theme-cl">دوست داشتنی ما</span></h2>
									<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">

							<div class="customers-carousel owl-carousel owl-theme products-slider " id="customers-carousel">

								<!-- single testimonial -->
								<div class="single_customers_box">
									<div class="row justify-content-center">
										<div class="col-lg-7 col-md-7">
											<div class="single_customers_wraps">
												<div class="single_customers_caption">
													<div class="quote_icon_2"><i class="fas fa-quote-right"></i></div>
													<p class="customers_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
													<div class="review_author_box">
														<div class="reviews_img">
															<img src={% static "assets/img/naveen-o.png" %} class="img-fluid" alt="" />
														</div>
														<div class="reviews_caption">
															<h4 class="testi2_title">آقای رضا مظاهری</h4>
															<span>مدیر پروژه</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- single testimonial -->
								<div class="single_customers_box">
									<div class="row justify-content-center">
										<div class="col-lg-7 col-md-7">
											<div class="single_customers_wraps">
												<div class="single_customers_caption">
													<div class="quote_icon_2"><i class="fas fa-quote-right"></i></div>
													<p class="customers_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</p>
													<div class="review_author_box">
														<div class="reviews_img">
															<img src={% static "assets/img/rani-o.png" %} class="img-fluid" alt="" />
														</div>
														<div class="reviews_caption">
															<h4 class="testi2_title">خانم مریم رستمی</h4>
															<span>مجری بازرگانی</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- single testimonial -->
								<div class="single_customers_box">
									<div class="row justify-content-center">
										<div class="col-lg-7 col-md-7">
											<div class="single_customers_wraps">
												<div class="single_customers_caption">
													<div class="quote_icon_2"><i class="fas fa-quote-right"></i></div>
													<p class="customers_description">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
													<div class="review_author_box">
														<div class="reviews_img">
															<img src={% static "assets/img/preet-o.png" %} class="img-fluid" alt="" />
														</div>
														<div class="reviews_caption">
															<h4 class="testi2_title">آقای سعید شمس</h4>
															<span>مدیر عامل</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- =========================== About Us =================================== -->
{% endblock %}