{% extends "landing_page_base.html" %}
{% load static %}
{% block title %}سوالات متداول{% endblock %}

{%  block content %}
    <!-- =========================== Breadcrumbs =================================== -->
			<div class="breadcrumbs_wrap dark">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="text-center">
								<h2 class="breadcrumbs_title">سوالات متداول</h2>
								<nav aria-label="breadcrumb">
								  <ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'Home-page' %}"><i class="ti-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">سوالات متداول</li>
								  </ol>
								</nav>
							</div>
						</div>

					</div>
				</div>
			</div>
    <!-- =========================== Breadcrumbs =================================== -->

    			<!-- =========================== FAQ's =================================== -->
			<section>
				<div class="container">
					<div class="row">

						<div class="col-lg-3 col-md-4">
							<div class="nav flex-column nav-pills verticle_tab" id="v-pills-tab" role="tablist" aria-orientation="vertical">
								<a class="nav-link active" id="delivery-tab" data-toggle="pill" href="#delivery" role="tab" aria-controls="delivery-tab" aria-selected="true"><i class="ti-truck ml-2"></i>ارسال</a>
								<a class="nav-link" id="order-tab" data-toggle="pill" href="#order" role="tab" aria-controls="order-tab" aria-selected="false"><i class="ti-package ml-2"></i>سفارشات</a>
								<a class="nav-link" id="refunds-tab" data-toggle="pill" href="#refunds" role="tab" aria-controls="refunds-tab" aria-selected="false"><i class="ti-share-alt ml-2"></i>بازپرداخت و بازگشت</a>
								<a class="nav-link" id="stocks-tab" data-toggle="pill" href="#stocks" role="tab" aria-controls="stocks-tab" aria-selected="false"><i class="ti-shopping-cart ml-2"></i>سهام و محصولات</a>
								<a class="nav-link" id="payments-tab" data-toggle="pill" href="#payments" role="tab" aria-controls="payments-tab" aria-selected="false"><i class="ti-credit-card ml-2"></i>روش های پرداخت</a>
								<a class="nav-link" id="technical-tab" data-toggle="pill" href="#technical" role="tab" aria-controls="technical-tab" aria-selected="false"><i class="ti-settings ml-2"></i>مسائل فنی</a>
							</div>
						</div>

						<div class="col-lg-9 col-md-8">
							<div class="tab-content" id="v-pills-tabContent">

								<!-- Delivery Content -->
								<div class="tab-pane fade show active" id="delivery" role="tabpanel" aria-labelledby="delivery-tab">
									<div class="faqs_description">
										<div class="faqs_single mb-4">
											<h2>روش ارسال</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>فرآیند تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
											<p><strong>مرحله 1:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 2:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 3:</strong> رای شرایط فعلی تکنولوژی مورد نیاز </p>
											<p><strong>مرحله 4:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان</p>
											<p><strong>مرحله 5:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>سفارش من کجاست</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>

										<div class="faqs_single">
											<h2>زمان تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>
									</div>
								</div>

								<!-- Order & Issue Content -->
								<div class="tab-pane fade" id="order" role="tabpanel" aria-labelledby="order-tab">
									<div class="faqs_description">
										<div class="faqs_single mb-4">
											<h2>روش ارسال</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>فرآیند تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
											<p><strong>مرحله 1:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 2:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 3:</strong> رای شرایط فعلی تکنولوژی مورد نیاز </p>
											<p><strong>مرحله 4:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان</p>
											<p><strong>مرحله 5:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>سفارش من کجاست</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>

										<div class="faqs_single">
											<h2>زمان تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>
									</div>
								</div>

								<!-- Refunds Content -->
								<div class="tab-pane fade" id="refunds" role="tabpanel" aria-labelledby="refunds-tab">
									<div class="faqs_description">
										<div class="faqs_single mb-4">
											<h2>روش ارسال</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>فرآیند تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
											<p><strong>مرحله 1:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 2:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 3:</strong> رای شرایط فعلی تکنولوژی مورد نیاز </p>
											<p><strong>مرحله 4:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان</p>
											<p><strong>مرحله 5:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>سفارش من کجاست</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>

										<div class="faqs_single">
											<h2>زمان تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>
									</div>
								</div>

								<!-- Stock & Products Content -->
								<div class="tab-pane fade" id="stocks" role="tabpanel" aria-labelledby="stocks-tab">
									<div class="faqs_description">
										<div class="faqs_single mb-4">
											<h2>روش ارسال</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>فرآیند تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
											<p><strong>مرحله 1:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 2:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 3:</strong> رای شرایط فعلی تکنولوژی مورد نیاز </p>
											<p><strong>مرحله 4:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان</p>
											<p><strong>مرحله 5:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>سفارش من کجاست</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>

										<div class="faqs_single">
											<h2>زمان تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>
									</div>
								</div>

								<!-- Payment Content -->
								<div class="tab-pane fade" id="payments" role="tabpanel" aria-labelledby="payments-tab">
									<div class="faqs_description">
										<div class="faqs_single mb-4">
											<h2>روش ارسال</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>فرآیند تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
											<p><strong>مرحله 1:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 2:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 3:</strong> رای شرایط فعلی تکنولوژی مورد نیاز </p>
											<p><strong>مرحله 4:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان</p>
											<p><strong>مرحله 5:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>سفارش من کجاست</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>

										<div class="faqs_single">
											<h2>زمان تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>
									</div>
								</div>

								<!-- Technical Content -->
								<div class="tab-pane fade" id="technical" role="tabpanel" aria-labelledby="technical-tab">
									<div class="faqs_description">
										<div class="faqs_single mb-4">
											<h2>روش ارسال</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد.</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>فرآیند تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
											<p><strong>مرحله 1:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 2:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</p>
											<p><strong>مرحله 3:</strong> رای شرایط فعلی تکنولوژی مورد نیاز </p>
											<p><strong>مرحله 4:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان</p>
											<p><strong>مرحله 5:</strong> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
										</div>

										<div class="faqs_single mb-4">
											<h2>سفارش من کجاست</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>

										<div class="faqs_single">
											<h2>زمان تحویل</h2>
											<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</p>
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</section>
			<!-- =========================== FAQ's =================================== -->

{% endblock %}