{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="{% static "assets/img/favicon.png" %}" type="image/gif" sizes="16x16">

        <title>{% block title %}اودکس شاپ{% endblock %}</title>

        <!-- Custom CSS -->
        <link href="{% static "assets/css/styles.css" %}" rel="stylesheet">

    </head>

    <body class="fashion-theme">

        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div id="preloader"><div class="preloader"><span></span><span></span></div></div>


        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">

            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->

				<!-- Main header -->
				<div class="general_header">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-2 col-md-2 col-sm-3 col-4">
								<a class="nav-brand" href="{% url 'Home-page' %}">
									<img src="{% static "assets/img/fashion-logo.png" %}" class="logo" alt="" />
								</a>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-4 col-3">
								<nav id="navigation" class="navigation navigation-landscape">
									<div class="nav-header">
										<div class="nav-toggle"></div>
									</div>
									<div class="nav-menus-wrapper" style="transition-property: none;">
										<ul class="nav-menu">

											<li class="active"><a href="{% url 'Home-page' %}">خانه<span class="submenu-indicator"></span></a></li>

											<li><a href="#">دسته بندی کالاها<span class="submenu-indicator"></span></a>
                                                <ul class="nav-dropdown nav-submenu">
                                                {% for category in categories %}
                                                {% if category.name != "فروش ویژه" and category.sub == None %}
													<li><a href="/category/{{ category.pk }}/">{{ category.name }}<span class="submenu-indicator"></span></a>
                                                        <ul class="nav-dropdown nav-submenu">
                                                        {% for c in categories %}
                                                        {%  if c.sub.id is not None and c.sub.id == category.pk %}
															<li><a href="/category/{{ c.pk }}/">{{ c.name }}<span class="submenu-indicator"></span></a>
                                                                {% for cat in categories %}
                                                                {%  if cat.sub.id is not None and cat.sub.id == c.pk %}
                                                                <ul class="nav-dropdown nav-submenu">
                                                                    <li><a href="/category/{{ cat.pk }}/">{{ cat.name }}</a></li>
                                                                </ul>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </li>
                                                        {% endif %}
                                                        {% endfor %}
														</ul>
													</li>
                                                {% endif %}
                                                {% endfor %}
												</ul>
                                            </li>
                                            {% for category in categories %}
                                            {% if category.name == "فروش ویژه" %}
											<li><a href="/category/{{ category.pk }}">{{ category.name }}<span class="submenu-indicator"></span></a></li>
                                            {% endif %}
                                            {% endfor %}
										</ul>

									</div>
								</nav>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-5 col-5">
								<div class="general_head_right">
									<ul>
										<li><a data-toggle="collapse" href="#mySearch" role="button" aria-expanded="false" aria-controls="mySearch"><i class="ti-search"></i></a></li>
										{% if user_role %}
                                        <li><a href="{%  url 'Profile' %}"><i class="ti-user"></i></a></li>
                                        {% else %}
										<li><a href="{%  url 'Register' %}"><i class="ti-user"></i></a></li>
                                        {% endif %}
										<li><a href="javascript:void(0);" onclick="openRightMenu()"><i class="ti-shopping-cart"></i>{% if more_info.total_count %}<span class="cart_counter">{{ more_info.total_count }}</span>{% endif %}</a></li>
									</ul>
								</div>
								<div class="collapse" id="mySearch">
									<div class="blocks search_blocks">
										<div class="input-group"
											<input type="text" class="form-control" placeholder="جستجو در فروشگاه (غیرفعال)">
											<div class="input-group-append">
											<button class="btn search_btn" type="button"><i class="ti-search"></i></button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
        {% block content %}
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- ======================== Banner Start ==================== -->

			<!-- ======================== Banner End ==================== -->

			<!-- ======================== Top category ==================== -->

			<!-- ======================== Top category End ==================== -->

			<!-- ======================== Featured Accessiries Start ==================== -->

			<!-- ======================== Featured Accessiries End ==================== -->

			<!-- ======================= Hot Deal Start ============================== -->

			<!-- ======================= Hot Deals End =============================== -->


			<!-- ======================== Women Accessiries Start ==================== -->

			<!-- ======================== Women Accessiries End ==================== -->
        {% endblock %}
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">

							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3>اشتراک در خبر نامه</h3>
									<span> در حال حاضر این ویژگی فعال نمی باشد. اما به زودی قادر خواهید بود عضو خبرنامه ما شوید.</span>
								</div>
								<div class="newsletter_box">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید">
										<div class="input-group-append">
										<button class="btn search_btn" type="button"><i class="fas fa-arrow-alt-circle-left"></i></button>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->

			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer style-2">
				<div class="before-footer">
					<div class="container">
						<div class="row">

							<div class="col-lg-4 col-md-4">
								<div class="single_facts">
									<div class="facts_icon">
										<i class="ti-shopping-cart"></i>
									</div>
									<div class="facts_caption">
										<h4>ارسال رایگان</h4>
										<p>برای سفارشات بالای ۱ میلیون تومان</p>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4">
								<div class="single_facts">
									<div class="facts_icon">
										<i class="ti-money"></i>
									</div>
									<div class="facts_caption">
										<h4>تضمین بازگشت هزینه</h4>
										<p>تا ۴۵ روز، در صورت عدم رضایت از محصول</p>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4">
								<div class="single_facts last">
									<div class="facts_icon">
										<i class="ti-headphone-alt"></i>
									</div>
									<div class="facts_caption">
										<h4>پشتیبانی آنلاین 24 ساعته</h4>
										<p>در شبکه های اجتماعی در خدمتتان هستیم</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="footer-middle">
					<div class="container">
						<div class="row">

							<div class="col-lg-4 col-md-4">
								<div class="footer_widget">
									<h4 class="extream">تماس با ما</h4>


									<div class="address_infos">
										<ul>
											<li><i class="ti-home theme-cl"></i>ایران ، تهران ، زعفرانیه ، خیابان هستی ،<br> ساختمان مهر پلاک  856</li>
											<li><i class="ti-headphone-alt theme-cl"></i>02112345678</li>
										</ul>
									</div>

								</div>
							</div>

                            <div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">دسته بندی ها</h4>
									<ul class="footer-menu">
                                        {% for category in categories %}
                                        {% if category.name == "مردانه" %}
										<li><a href="/category/{{ category.pk }}/">{{ category.name }}</a></li>
                                        {% elif category.name == "زنانه" %}
										<li><a href="/category/{{ category.pk }}/">{{ category.name }}</a></li>
                                        {% elif category.name == "بچگانه" %}
										<li><a href="/category/{{ category.pk }}/">{{ category.name }}</a></li>
                                        {% elif category.name == "فروش ویژه" %}
										<li><a href="/category/{{ category.pk }}/">{{ category.name }}</a></li>
                                        {% endif %}
                                        {% endfor %}
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">اودکس شاپ</h4>
									<ul class="footer-menu">
										<li><a href="#">درباره ما</a></li>
										<li><a href="#">ارتباط با ما</a></li>
										<li><a href="#">اعتماد الکترونیکی</a></li>
										<li><a href="#">چرا اودکس شاپ</a></li>
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">ناحیه کاربری</h4>
									<ul class="footer-menu">
                                        {% if user_role %}
                                        <li><a href="{%  url 'Profile' %}">حساب من</a></li>
                                        <li><a href="#">خریدهای من</a></li>
                                        {% else %}
										<li><a href="{%  url 'Register' %}">ثبت نام/ ورود</a></li>
                                        {% endif %}
									</ul>
								</div>
							</div>

							<div class="col-lg-2 col-md-2">
								<div class="footer_widget">
									<h4 class="widget_title">پشتیبانی مشتری</h4>
									<ul class="footer-menu">
										<li><a href="#">شرایط</a></li>
										<li><a href="#">حریم خصوصی</a></li>
										<li><a href="#">وبلاگ</a></li>
										<li><a href="#">سوالات متداول</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">

							<div class="col-lg-6 col-md-8">
								<p class="mb-0">© کپی رایت 2020 اودکس. راستچین شده توسط <a href="https://www.rtl-theme.com/author/davod_taheri/">داود</a>.</p>
							</div>

							<div class="col-lg-6 col-md-6 text-left">
								<ul class="footer_social_links">
									<li><a href="#"><i class="ti-facebook"></i></a></li>
									<li><a href="#"><i class="ti-twitter"></i></a></li>
									<li><a href="#"><i class="ti-instagram"></i></a></li>
									<li><a href="#"><i class="ti-linkedin"></i></a></li>
								</ul>
							</div>

						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->


			<!-- cart -->
			<!-- Switcher Start -->
			<div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right" style="display:none;left:0;" id="rightMenu">
				<div class="rightMenu-scroll">
					<h4 class="cart_heading">سبد خرید شما</h4>
					<button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
					<div class="right-ch-sideBar" id="side-scroll">
                        {%  if cart|length != 0 %}
						<div class="cart_select_items">
                            {% for product in cart %}
							<!-- Single Item -->
							<div class="cart_selected_single">
								<div class="cart_selected_single_thumb">
									<a href="/product/{{ product.pk }}/"><img src={{ product.image }} class="img-fluid" alt="" /></a>
								</div>
								<div class="cart_selected_single_caption">
									<h4 class="product_title">{{ product.name }} × {{ product.count }}</h4>
									<span class="numberof_item">{{ product.price }} تومان</span>
									<button type="submit" id="remove"  name={{ product.pk }} formmethod="post" onclick="remove_from_cart(event,this)" class="btn-go-cart btn-theme">حذف</button>
								</div>
							</div>
                            {% endfor %}
                            {% endif %}
						</div>

						<div class="cart_subtotal">
							<h6>جمع کل<span class="theme-cl">{{ more_info.total_price }} تومان</span></h6>
						</div>

						<div class="cart_action">
							<ul>
								<li><a href="#" class="btn btn-go-cart btn-theme">مشاهده / ویرایش سبد خرید</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
			<!-- cart -->

    <!-- ============================= Fetch API ==================================== -->
            <script>

        async function remove_from_cart(event, el) {
            event.preventDefault()

            const pk = document.querySelector('#remove');

            const response = await fetch("/api/v1/cart/remove_from_cart/", {
                method: el.formMethod,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    pk: pk.getAttribute('name')
                })
            })

            if (response.status === 200){
                window.location.replace("")
            } else {
               alert("Invalid Input")
            }
        }
        </script>
    <!-- ============================= Fetch API ==================================== -->

		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static "assets/js/jquery.min.js" %}"></script>
		<script src="{% static "assets/js/popper.min.js" %}"></script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/metisMenu.min.js" %}"></script>
		<script src="{% static "assets/js/owl-carousel.js" %}"></script>
		<script src="{% static "assets/js/ion.rangeSlider.min.js" %}"></script>
		<script src="{% static "assets/js/smoothproducts.js" %}"></script>
		<script src="{% static "assets/js/jquery-rating.js" %}"></script>
		<script src="{% static "assets/js/jQuery.style.switcher.js" %}"></script>
		<script src="{% static "assets/js/custom.js" %}"></script>

		<script>
			function openRightMenu() {
				document.getElementById("rightMenu").style.display = "block";
			}
			function closeRightMenu() {
				document.getElementById("rightMenu").style.display = "none";
			}
		</script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->

	</body>

</html><script>
(function() {
  var ws = new WebSocket('ws://' + window.location.host +
             '/jb-server-page?reloadMode=RELOAD_ON_SAVE&'+
             'referrer=' + encodeURIComponent(window.location.pathname));
  ws.onmessage = function (msg) {
      if (msg.data === 'reload') {
          window.location.reload();
      }
      if (msg.data.startsWith('update-css ')) {
          var messageId = msg.data.substring(11);
          var links = document.getElementsByTagName('link');
          for (var i = 0; i < links.length; i++) {
              var link = links[i];
              if (link.rel !== 'stylesheet') continue;
              var clonedLink = link.cloneNode(true);
              var newHref = link.href.replace(/(&|\?)jbUpdateLinksId=\d+/, "$1jbUpdateLinksId=" + messageId);
              if (newHref !== link.href) {
                clonedLink.href = newHref;
              }
              else {
                var indexOfQuest = newHref.indexOf('?');
                if (indexOfQuest >= 0) {
                  // to support ?foo#hash
                  clonedLink.href = newHref.substring(0, indexOfQuest + 1) + 'jbUpdateLinksId=' + messageId + '&' +
                                    newHref.substring(indexOfQuest + 1);
                }
                else {
                  clonedLink.href += '?' + 'jbUpdateLinksId=' + messageId;
                }
              }
              link.replaceWith(clonedLink);
          }
      }
  };
})();
</script>