{% extends "landing_page_base.html" %}
{% load static %}


{% block content %}
    			<!-- =========================== Breadcrumbs =================================== -->
			<div class="breadcrumbs_wrap dark">
				<div class="container">
					<div class="row align-items-center">

						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="text-center">
								<h2 class="breadcrumbs_title" id="page_title"></h2>
								<nav aria-label="breadcrumb">
								  <ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'Home-page' %}"><i class="ti-home"></i></a></li>
									<li class="breadcrumb-item"><a href="#">پروفایل کاربری</a></li>
									<li class="breadcrumb-item active" id="current_page" aria-current="page"></li>
								  </ol>
								</nav>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- =========================== Breadcrumbs =================================== -->


			<!-- =========================== Account Settings =================================== -->
			<section class="gray">
				<div class="container">
					<div class="row">

						<div class="col-lg-4 col-md-3">
							<nav class="dashboard-nav mb-10 mb-md-0">
							  <div class="list-group list-group-sm list-group-strong list-group-flush-x">
								<a class="list-group-item list-group-item-action dropright-toggle" id="order_list" href="/profile/user_orders-list/">
								  سفارشات من
								</a>
								<a class="list-group-item list-group-item-action dropright-toggle" id="user_info" href="/profile/user-information">
								  اطلاعات کاربر
								</a>
								<a class="list-group-item list-group-item-action dropright-toggle" id="user_addr" href="/profile/user-address">
								  آدرس ها
								</a>
								<a class="list-group-item list-group-item-action dropright-toggle" id="change_pass" href="/profile/change-password/">
								  تغییر رمز عبور
								</a>
								<a class="list-group-item list-group-item-action dropright-toggle" href="/profile/logout/">
								  خروج
								</a>
							  </div>
							</nav>
						</div>
            {% block main_content %}
            {% endblock %}
					</div>
				</div>
			</section>
{% endblock %}